modules = ["python-3.11", "postgresql-16"]

[nix]
channel = "stable-24_05"
packages = ["ffmpeg-full", "libsndfile", "libxcrypt"]

[[ports]]
localPort = 5000
externalPort = 5000

[[ports]]
localPort = 8000
externalPort = 80
